doctype
html
  head
    title Logos y marcas de Nicaragua - LogosNicas.com
    link(href='img/favicon.png', rel='shortcut icon')
    link(rel="stylesheet" href="css/main.css")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="js/lazysizes.min.js")
    script(src="js/tabs.js")
  body
    != partial("partial/_header")
    != yield
    != partial("partial/_footer")
