doctype
html
  head
    title Logos y marcas de Nicaragua - LogosNicas.com
    link(href='img/favicon.png', rel='shortcut icon')
    link(rel="stylesheet" href="css/main.css")
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="js/lazysizes.min.js")
    script(src="js/tabs.js")
    meta(property="og:title", content="Logos y marcas de Nicaragua")
    meta(property="og:image", content="img/favicon.png")
    meta(property="og:site_name", content="LogosNicas.com")
    meta(property="og:description", content="Un repositiorio para logos y marcas nicaragüenses en formato SVG editable.")
    meta(name="twitter:card", content="summary")
    meta(name="twitter:site", content="@logosnicas")
    meta(name="twitter:creator", content="@monchitonet")
  body
    != partial("partial/_header")
    != yield
    != partial("partial/_footer")
