h1 Logos Nicas
h3 631 logos y marcas nicaragüenses en formato SVG editable.
h5 Para descargar un logo, dele botón derecho y 'Guardar imagen como...'
.social
   a(href="https://twitter.com/share", class="twitter-share-button", data-url="http://logosnicas.com", data-text="631 logos y marcas nicaragüenses en formato SVG editable.", data-via="logosnicas") Tweet
   a(href="https://twitter.com/logosnicas", class="twitter-follow-button", data-show-count="false") Follow @logosnicas
   script(type='text/javascript') !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');

.columns.column-12
   ul(id='tabs')
      each val in ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
         li
            a(id= 'tab-' + val, href= '#' + val)= val

.tab-container
   #A.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/aburto_talabarteria.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/academia_europea.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/accedo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/aceros_vmg.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ac_eventos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/acodep.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ac_producciones.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/aerhnic.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/aeronica.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/aero_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/afinsa_factoring.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/agencia_aduanera_aconic.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/agencia_aduanera_medina_sandino.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/agregados_quimicos_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/agricorp.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/agroalfa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/air_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/airpak.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/airtec.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/alcaldia_de_bonanza.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/alfa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/alke_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ambar.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/amcham.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/american_nicaraguan_foundation.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/am_pm.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/apen.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/aproquen.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/aquatec.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/arquidiocesis_de_managua_mec.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/asamblea_nacional.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/asamblea_nacional_logo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/asociacion_de_exportadores_de_cafe_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/asociacion_nicaraguense_de_salud_publica.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/asociacion_protectora_de_animales_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/asomif.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/assa_compania_de_seguros.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/assa_compania_de_seguros_v.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/auto_mantica.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/autonica_centro_toyota.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/autostar.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/axis.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ayuda_en_accion_nicaragua.svg')

   #B.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/bac_valores.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/banco_central_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/banco_de_america_central.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/banco_lafise_bancentro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/banco_procredit.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/banco_uno.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/banpro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/banpro_billetera_movil.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/bansbach.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/barricada_1979.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/batca.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/baterias_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/bdf.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/bdf_t.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/benemerito_cuerpo_de_bomberos_managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/best_host_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/bienes_inmobiliarios_centroamericanos_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/black_board_catering.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/blue_marlin_sjs.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/blu_comfort_olympia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/blu_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/bobina_boutique.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/body_guard_condones.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/bolonia_printing.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/bolsa_de_valores_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/budget_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/budget_nicaragua_dic2012.svg')

   #C.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cablevision_segovia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cafe_cultural_mi_vieja_calle.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cafe_zacatelimon.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cainsa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/calox_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/camara_de_comercio_y_servicios_de_nicaragua_oct_2013.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/camara_de_comercio_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/120_anios_camara_de_comercio_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/camara_de_comercio_de_nicaragua_pre_2007.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/camara_de_industrias_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/camara_de_industrias_de_nicaragua_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/camara_de_urbanizadores_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/camara_nicaraguense_de_la_construccion_pre2012.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/camara_nicaraguense_de_la_construccion.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/camas_olympia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/caminic.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/canal10.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/capressa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cargotrans.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/caritas_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/carnes_san_martin.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/casa_cross.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/casa_teran.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/casa_de_espana_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/casa_del_cafe.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/casa_hotel_istiam.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/casa_mc_gregor.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/casa_pellas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/95_anios_casa_pellas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/castillo_y_fiallos_abogados_y_notarios.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/casur.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cdnn_23_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cdnn_23.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ceca_multicomercial_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cemex_t.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/centro_cultural_de_espana_en_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/centro_de_apoyo_a_programas_y_proyectos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/centro_de_estudios_y_promocion_social.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/centro_de_exportaciones_e_inversiones_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/centro_de_produccion_mas_limpia_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/centrolac.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/centro_odontologico_especializado.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/centro_recreativo_pinar_del_rio.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/centro_social_vega_baja.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cerveza_los_ranchos_1957.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cerveza_premium.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cerveza_tona.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/tona_festival_cervecero.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/noti_tona.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cerveza_victoria_1954.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cerveza_victoria_clasica.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cerveza_victoria_frost.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cerveza_victoria.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cerveza_xolotlan_1955.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cevicheros_seafood_and_grill.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cisa_agro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cisa_mercon.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cisas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cisas_25_aniversario.ai.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/citius_real_estate.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/claro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/click_managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/clinica_angelus.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/clinica_de_educacion_nutricional_y_metabolismo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/clinica_del_ojo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/clinica_dental_marin.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/clinica_de_piel_barquero.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/clinica_medi-naturals.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/club_de_empresas_ecoeficientes.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cnpa_campania.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cnpa_mascota.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/codeni.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/coirsa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/colectivo_sandino_vive.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/colegio_bautista.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/colegio_de_contadores_publicos_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/colegio_salesiano_don_bosco.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/comercial_paola.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/comision_nacional_de_lucha_contra_el_sida.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/comision_nacional_de_zonas_francas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/comision_nicaraguense_del_huevo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/compania_cervecera_de_nicaragua_ca1950.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/compania_cervecera_de_nicaragua_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/compania_cervecera_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/comtech.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/comunicacion_empresarial_y_relaciones_publicas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/conammip.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/condominio_estefania.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/condominio_palmiras_de_santo_domingo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/condor_comunicaciones.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/20_anios_condor_comunicaciones.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/confederacion_de_camaras_de_comercio_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/confidencial_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/confidencial.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/confidencial_2016_20_anios.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/consejo_nacional_de_universidades.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/construcciones_stadthagen_cardenal.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/construmas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/copy_fast_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/correos_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cortijo_la_sabana.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cosep.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/crack_creativos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/crea_comunicaciones.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/credito_hipotecario_banpro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/credomatic.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cruz_roja_nicaraguense.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cssa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/cuenta_reto_del_milenio_nicaragua.svg')

   #D.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/dale_pues.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/debconf12.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/debocasa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/deloitte_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/desarrollos_123.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/desarrollos_convivir.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/desarrollos_inmobiliarios_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/desarrollos_sooner.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/deshon_y_cia_ltd.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/d_guerrero_ingenieros.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/dicegsa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/didier_aleman_benavides_abogados_notarios.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/diesel_motors_trading.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/dimaco.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/diseno_centro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/disnorte_dissur.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/distribuidora_del_caribe.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/distribuidora_merco.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/doctora_barreto_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/don_pan.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/don_vittorio.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/drogueria_nunez_alt.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/drogueria_nunez.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/dryclean_usa.svg')
 
   #E.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/eben_ezer_servicios_contra_incendios.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ecentro_universidad_centroamericana.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ediciones_distribuidora_cultural.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/editarte.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/editarte_v.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/editorial_norte.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ejercito_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/31_aniversario_ejercito_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/el_19.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/el_bar_de_patico_cdnn_23.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/el_buen_fierro_industrial.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/el_gallo_mas_gallo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/elite_diamond_club.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/el_nuevo_diario.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/el_nuevo_diario_2012.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/el_nuevo_diario_2011_ntf.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/el_observador_economico.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/embajada_de_finlandia_en_managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/emprendedores_juveniles_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/empresa_portuaria_nacional.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/enacal.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/enatrel.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/enitel_movil_2002.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/enkantos_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/entornos_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/es_consultores.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/escuela_nacional_de_hoteleria.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/eskimo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/espacio_vital_magazine.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/espana_y_nicaragua_centro_cultural_de_espana_en_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/excel_automotriz.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/exn_m.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/expoanime.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/expocasa_2015.svg')

   #F.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fabretto.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/familia_y_comunidad_en_victorias.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/farmacia_familiar.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/farmacia_guadalupe_ocotal.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/farmacias_xolotlan.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fenifut.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fercon_2012.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/feria_de_eficiencia_energetica_cpml.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ferias_y_eventos_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fernando_fuentes_fraile.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/festival_ecoeficiencia_ometepe_2013.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/festival_nacional_de_software_libre_2012.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fetesa_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fetesa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fiestas_y_eventos_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fit_club_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/flor_de_cana.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fogade.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fondo_de_desarrollo_local.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fondo_del_instituto_nicaraguense_de_desarollo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/foro_nacional_de_reciclaje.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/foro_nacional_de_reciclaje_primer.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/frontera_books.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fudcon_managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fuerzas_armadas_de_nicaragua_pre1979.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fundacion_luciernaga.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fundacion_nicaraguense_de_desarrollo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fundacion_roberto_teran.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/fundacion_zamora_teran.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/funeraria_monte_de_los_olivos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/funides.svg')

   #G.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/galerias_santo_domingo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/galletas_d_oro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/garcia_y_bodan.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/genesis_impresiones.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/genesis_perfiles_de_aluminio_y_vidrio.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/gobierno_bolanios_nueva_era_g.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/gobierno_de_reconciliacion_y_unidad_nacional.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/2009_anio_30_de_la_revolucion.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/2010_anio_de_la_solidaridad.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/2011_unidad_por_el_bien_comun.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/2012_con_todos_y_por_el_bien_de_todos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/2013_bendecidos_prosperados_y_en_victorias.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/2014_haciendo_patria.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/2015_vamos_adelante.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/2016_vamos_adelante_en_buena_esperanza_en_victorias.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/grupo_armado.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/grupo_financiero_invercasa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/grupo_global.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/grupo_ibasa_obs.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/grupo_logistico_empremar.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/grupo_mudanzas_mundiales.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/grupo_publimovil.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/grupo_q.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/grupo_soluciones_empresariales.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/guacalito_de_la_isla.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/guegue.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/guegue_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/gulnic.svg')

   #H.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hamlet_publicidad.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hecho_magazine.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hemco_m.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hemco.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/high_quality_diseno_y_comunicacion.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hippos_grill_and_tavern.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/30_anios_amistad_nicaragua_holanda.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hospital_bautista.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hospital_carlos_roberto_huembes.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hospital_central_managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hospital_metropolitano_vivian_pellas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel_best_western_las_mercedes_leon.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel_best_western_las_mercedes_managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel_crowne_plaza_managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hoteles_la_ceiba.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel_frontera.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel_hilton_princess_managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel-los-robles.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel_mansion_teodolinda.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel_plaza_colon.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel-punta-teonoste.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel_real_intercontinental_metrocentro_managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/hotel_victoriano.svg')

   #I.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ideart.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ideas_y_diseños.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/iglesia_de_dios_pentescotal_8_marzo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/iica_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ilcomp.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/imi_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/iml_de_nicaragua_cia_ltda.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/improdesa_construcciones.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/inafor.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/inatec.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/incae.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/indhersa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/industrias_graficas_eva.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/iniser.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/inmuebles_nicaraguenses_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/innovaciones_porta.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/inprocres.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/inprocres_18.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/instituto_de_desarrollo_rural.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/instituto_de_historia_de_nicaragua_y_centroamerica.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/instituto_nicaraguense_de_desarrollo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/51_aniversario_instituto_nicaraguense_de_desarrollo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/instituto-nicaraguense-de-energia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/instituto_nicaraguense_de_reforma_agraria_1979.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/instituto-nicaraguense-de-seguridad-social_2002.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/instituto-nicaraguense-de-seguridad-social.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/instituto-nicaraguense-de-seguridad-social_t.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/instituto-pedagogico-la-salle.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/inta.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/20_anios_inta.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/intur_2001.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/intur_nicaragua_unica_original.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/inversiones_bel_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/isic_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/isic.svg')

   #J.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/je_fashion_models.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/jl_griffith_sucesores.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/john_may_maquinarias.svg')

   #K.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/kakao_media.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/kola_shaler.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/kre_arte.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/kronos_code.svg')

   #L.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/laboratorio_clinico_d_oriente.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/laboratorios_ceguel.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/laboratorios_ramos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/laboratorios_rarpe.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_brujula_feb2011.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_brujula_jul2011.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/lacmiel.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_costenia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_curacao.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/lafise_bancentro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_inmobiliaria.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_jornada.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_michoacana.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_t_2016.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_2015_89anios.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_t_2014.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_2011_85anios.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_1927_nt.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_1947.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_aqui_entre_nos_10anios.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_aqui_entre_nos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_domingo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_domingo_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_impresion_comercial.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_prensa_magazine.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_pulga_miniguia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/la_riviera.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/las_veraneras.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/lineas_aereas_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/linux_tour.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/listo_marketing.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/llamadas_heladas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/llansa_ingenieros.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/logistic_center_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/lolo_morales.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/loto.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/lubnica.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/lumicentro.svg')

   #M.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/magia_comunicaciones.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/manuquinsa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/matadero_central_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/medco.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/medios_y_mensajes.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mercon_coffee_group.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/metro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/migracion_y_extranjeria.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ministerio_unidos_por_siempre.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mip_marketing_global.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mister_nicaragua_10_aniversario.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mister_nicaragua_2011.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mochila_digital.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/molinos-de-nicaragua-sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/momotombo_real_estate.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/monchito.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/monchito-o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/moon_river_burritos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/motinsa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/motosport_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mpeso.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mti_1980.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mti.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mukul-beach-golf-and-spa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/multillantas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/multitech.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mundo_electronico.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/mundo_ventura_travel.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/munkel_medical.svg')

   #N.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/nacatamales_la_nicarao.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/net_guard_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/nicaragua_international_jazz_festival.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/nicaraguan_fighting_championship.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/nicaragua_sugar_estates_limited.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/nicaragua_un_pais_con_corazon.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/nicaraguense_de_aviacion.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/nicarao_tours_and_travel.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/nica_party.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/nimac.svg')

   #O.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/observatorio_de_violencias.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/observatorio_urbano_ihnca.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ogesa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/onap.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/optica_progresiva.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/opticas_munkel.svg')

   #P.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/paintball_las_colinas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/pali.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/pantaleon_ingenio_monte_rosa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/parque_del_club_condominios.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/pasolac.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/patria_y_libertad.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/pelican_eyes_resort_and_spa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/pellas_development_group.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/periodico_hoy.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/petronic.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/pinturas_modelo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/pixel_g.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/plan_nacional_de_desarrollo_propuesta_g_t.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/pnd_nicaragua_avanza_2001.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/poder_ciudadano_logros_2008.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/poder_ciudadano.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/poder_ciudadano_t.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/policia_nacional_dantos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/policia_nacional.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/politica_mente_incorrecto.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/pollo_rico.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/helados_pops.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/portal_san_cayetano.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/porter_novelli_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/portofino_condominios.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/praderas_de_cofradias.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/premio_produccion_mas_limpia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/presto.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/print_center_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/procompetencia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/productos_industriales_de_concreto.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/profamilia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/programa_vida_en_democracia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/pronicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/publimax.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/publimovil_media.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/puerto_salvador_allende.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/puntos_de_encuentro.svg')

   #Q.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/quesillos_bravo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/quesillos_masiguito.svg')

   #R.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/radio_universidad.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ramar_aduaneros.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/real_esteli_fc.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/real_plastic_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/recafopht.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/redmas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/renacer_centro_de_terapias_clinicas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/renova_spa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/residencial_buenos_aires.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/residencial_las_delicias.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/residencial_mayales.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/residencial_monterosa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/residencial_palmanova.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/residencial_santa_anita.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/residencial_vittoria.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/restaurante_bar_el_timon.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/restaurante_los_ranchos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/restaurante_maria_bonita.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_bienestar.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_campus_uni.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_de_gira_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_de_gira.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_en_familia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_enfoque_2010.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_enfoque_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_jetset.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_oe.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_stage_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/revista_ucagenda_uca.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/rivas_opstaele.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/rock_fm.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/rojita.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/rolter.svg')

   #S.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/san_judas_inversiones.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/sb_fotografia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/seguridad_c_y_b.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/seguros_america.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/seguros_lafise.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/seguros_mapfre_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/seminole_plaza_hotel_managua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/sencom.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/serfosa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ser_licorera_san_antonio.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/servitotal_unicomer.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/servipro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/siman.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/simas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/simple_y_gourmet.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/simplemente_madera.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/si_mujer.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/sinapred.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/sinsa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/sistema_penitenciario.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/sitel.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/sjdsdirectory.com.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/solarco.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/sula_comunicaciones.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/sun_real_estate.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/super_express.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/supermercado_san_judas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/supermercados_la_colonia.svg')

   #T.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/taidok_motors.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/taller_metalurgico_la_fragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/taller_padilla_alvarez.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/targa_industrial.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/teatro_nacional_ruben_dario.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/techos_termoacusticos_de_nicaragua_sa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/techo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/tecnitasa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/telenica_canal_8.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/teleton_15_aniversario.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/teleton_2012.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/telssa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/the_garden_cafe.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/think_26.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/tica_bus.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ticketango.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/tienda_7ma_avenida_ocotal.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/tienda_d_juguetes.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/tina_lugo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/tip_top_restaurantes_o.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/todo_motos.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/todo_sobre_viviendas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/transportes_hernandez.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/transunion_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/trauma_centro.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/tropigas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/tucasa.com.ni.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/tuya.com.ni.svg')

   #U.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ultranic.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/ultrasystems.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_americana.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_american_college.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_catolica_redemptoris_mater.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_central_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_centroamericana.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_centroamericana_t.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/50_anios_universidad_centroamericana.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_centroamericana_facultad_de_ciencia_tecnologia_y_ambiente.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/uca_marketing.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_centroamericana_universidad_jesuita.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_centroamericana_valores.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_cristiana_autonoma_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_de_ciencias_comerciales.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_de_las_regiones_autonomas_de_la_costa_caribe_nicaraguense.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_del_norte_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_del_valle.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_iberoamericana_de_ciencia_y_tecnologia_direccion_de_postgrado.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_iberoamericana_de_ciencia_y_tecnologia.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_internacional_para_el_desarrollo_sostenible.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_nacional_autonoma_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_nacional_de_ingenieria.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/30anios_universidad_nacional_de_ingenieria.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_politecnica_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_tecnologica_de_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/universidad_tecnologica_nicaraguense.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/uno_petrol_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/urbanizacion_cedro_galan.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/urbanizacion_xochitlan.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/urbanizadora_integral_sa.svg')

   #V.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/valentis_pizza.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/villas_playa_madera_sjs.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/velosa.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/vinilo_publicidad.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/vision_mundial_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/viajes_america.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/vision_policial.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/vital_dent.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/video_amor.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/vistas_del_momotombo.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/villa_sol.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/voces_vitales_nicaragua.svg')

   #W.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/wall_street_english_nicaragua.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/walmart_centroamerica.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/webbasica.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/wordcamp14-las-penitas.svg')

   #X.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/x_factor.svg')

   #Y.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/grupo_yerbabuena.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/yoytec_computer.svg')

   #Z.tab-content.columns.column-12
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/z_gas.svg')
      .columns.column-3
          img(src='img/loading.gif', class='lazyload', data-src='img/svg/zona_centro.svg')
